@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#00001a;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.nav-custom{
	background-color: #00001a;
}
.navbar-brand{
	color: #00001a;
	letter-spacing: 0.5px;

}
h2{
	color:#00001a;
	letter-spacing: 0.5px;
	font-family: raleway;
}
